@color-white: #fff;
@color-black: #333;
@color-danger: #d42e2e;
@color-success: #27ae60;
@color-light: #fafafa;
@color-gray: #ddd;
@color-blue: #3498db;
@size-xs: 12px;
@size-sm: 16px;
@size-md: 24px;
@size-lg: 36px;
@font-primary: 'Open Sans', sans-serif;
@screen-lg: 1200px;
@screen-xs: 480px;
@screen-md: 992px;
@screen-sm: 768px;