@color-red: #d42e2e;
@color-green: #27ae60;
@color-light: #fafafa;
@color-gray: #ddd;
@color-blue: #3498db;
@color-orange: #e25810;
@color-brown: #2a190e;
@color-black: #333;
@color-white: #fff;
@color-primary: @color-blue;
@color-success: @color-green;
@color-danger: @color-red;
@color-default: @color-orange;
@color-dark: @color-brown;
@size-xs: 12px;
@size-sm: 16px;
@size-md: 24px;
@size-lg: 36px;
@font-primary: 'Open Sans', sans-serif;
@screen-lg: 1200px;
@screen-xs: 480px;
@screen-md: 992px;
@screen-sm: 768px;