.about {
  &__list {
    display: flex;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__ico {
    color: @color-default;
  }
  &__text {
    display: inline-flex;
    padding-top: 20px;    
    text-align: center;
    font-size: @size-sm + 2;
  }
}