.city {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  &__subject {
    position: relative;
    display: inline-flex;
    margin-bottom: 1em;
    padding-left: 25px;
    font-size: @size-lg;
    font-weight: 700;

    &::before {
      content: "";
      position: absolute;
      top: 10%;
      left: 0;
      height: 80%;
      width: 6px;
      background-color: @color-default;
    }

    @media (max-width: @screen-sm) {
      font-size: @size-md;
    }
  }

  &__title {
    margin-top: 1em;

    @media (max-width: @screen-sm){
      font-size: @size-xs;
      font-weight: normal;
      text-align: center;
    }
  }

  &__list {
    display: flex;

    @media (max-width: @screen-sm) {
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 50px;

      @media (max-width: @screen-sm){
        margin-right: 0;
      }
    }

    @media (max-width: @screen-sm) {
      width: ~"calc(100% / 3)";
    }
  }

  &__item:hover &__img {
    transform: scale(1.1);
  }

  &__img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: @shadow-sm;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);

    @media (max-width: @screen-sm) {
      width: 80px;
      height: 80px;
    }
  }

  &__logo {
    width: 300px;
    max-height: 100%;

    @media (max-width: @screen-sm) {
      width: 200px;
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 100px;
      margin-top: -100px;
      height: 185px;

      @media (max-width: @screen-sm) {
        height: auto;
        margin-top: 0;
        margin-bottom: 30px;
      }
    }

    &-text {
      color: @color-white;
      font-size: @size-md - 2;
      margin-top: -15px;

      @media (max-width: @screen-sm) {
        font-size: @size-sm;
        margin-top: -10px;
      }
    }
  }
}