.contacts {
  &__block {
    padding-right: 50px;

    @media (max-width: @screen-sm) {
      padding-right: 0;
      margin-bottom: 30px;
    }
  }

  &__send-wrap {
    display: flex;
    width: 100%;
    margin-top: 50px;

    @media (max-width: @screen-sm) {
      margin-top: 20px;
      justify-content: center;
    }
  }

  &__desc {
    margin-bottom: 1em;
  }

  &__btn,
  &__info {
    margin-top: 1em;
  }

  &__sub-title {
    margin-top: 2em;
  }

  &__link {
    color: inherit
  }

  &__map {
    border: 4px solid fade(@color-default, 60%);
    width: 600px;
    height: 600px;

    @media (max-width: @screen-sm) {
      width: 100%;
      height: 400px;
    }
  }
}