.inner {
  max-width: @screen-lg;
  width: @screen-lg;
  margin: 0 auto;

  &_md{
    max-width: @screen-md;
    width: @screen-md;
  }

  &_sm {
    max-width: @screen-sm;
    width: @screen-sm;
  }

  &_xs {
    max-width: @screen-xs;
  }
}