.nav-top {
  position: sticky;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  background-color: @color-dark;

  &_sticky{
    position: fixed;
  }

  &_sticky + .intro{
    padding-top: 60px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
  }

  &__item {
    width: ~"calc(100% / 5)";
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    color: @color-white;
    text-decoration: none;
    font-size: 18px;
    transition: .3s;

    &:hover {
      background-color: @color-default;
    }
  }
}