.program {
  position: relative;
  padding-bottom: 20px;

  &__mobile-nav {
    display: none;

    @media (max-width: @screen-sm) {
      position: sticky;
      z-index: 2;
      top: 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 5px;
      padding-right: 5px;
      margin-left: -15px;
      margin-right: -15px;
      background-color: @color-default;
    }

    &-select {
      padding: 0 5px;
      margin: 5px 0;
    }
  }

  &__ico {
    color: @color-default;
  }

  &__img {
    flex: 0 250px;

    @media (max-width: @screen-sm) {
      flex: 0 200px;
    }
  }

  &__body {
    flex-direction: column;
    align-items: stretch;
    flex: 1 auto;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;

    @media (max-width: @screen-sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__btn {
    @media (max-width: @screen-sm) {
      margin-top: 20px !important;
    }
  }

  &__sort {
    width: 80%;
    margin-left: 10px;
    margin-top: 30px;

    @media (max-width: @screen-sm) {
      position: absolute;
      right: 15px;
      top: 30px;
      width: 40%;
      margin: 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

    @media (max-width: @screen-sm) {
      margin-top: 30px;
    }
  }

  &__item {
    display: flex;
    width: ~"calc(50% - 15px)";
    margin-bottom: 30px;

    @media (max-width: @screen-sm) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__nav {
    width: 100%;

    @media (max-width: @screen-sm) {
      display: none;
    }

    &-list {
      display: flex;
      width: 100%;
      justify-content: stretch;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-basis: 100%;
      font-size: @size-sm + 2;
      height: 50px;
      padding-left: 10px;
      padding-right: 10px;
      border: 1px solid @color-default;
      color: @color-default;
      cursor: pointer;

      &_active {
        background-color: @color-default;
        color: @color-white;
      }

      &:not(:first-child) {
        border-left-width: 0;
      }
    }
  }

  &__aside {
    position: sticky;
    top: 80px;
    z-index: 1;
    padding-right: 30px;

    @media (max-width: @screen-sm) {
      position: static;
    }
  }

  &__sub-nav {
    padding: 15px 0;

    @media (max-width: @screen-sm) {
      display: none;
    }

    &-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &-item {
      position: relative;
      padding-left: 10px;
      cursor: pointer;

      &_active {
        color: @color-default;

        &::before {
          content: "";
          position: absolute;
          top: 10%;
          left: 0;
          width: 3px;
          height: 80%;
          background-color: @color-default;
        }
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__modal-img {
    display: block;
    width: 100%;
    height: 300px;
    border-radius: 3px;

    @media (max-width: @screen-sm) {
      height: 180px;
    }
  }

  &__modal-text {
    width: 100%;
    max-width: 90vw;
    max-height: 100%;
    padding: 15px;
    border-radius: 3px;
    background-color: @color-white;
    box-shadow: @shadow-sm;
    overflow-x: auto;

    @media (max-width: @screen-sm) {
      padding: 0;
    }
  }

  .v-input {
    @media (max-width: @screen-sm) {
      font-size: @size-xs;
    }
  }

  .v-messages {
    display: none;
  }
}